<section class="btns">
    <button onclick="window.location.href ='/'">{{strings.backToHome}}</button>
    {{#if user}}<button onclick="window.location.href ='/panel'">{{strings.backToPanel}}</button>{{/if}}
</section>
<section class="content">
    <h1>{{strings.credits}}</h1>
    <section class="subContent">
        <h2>{{strings.developers}}</h2>
        <ul>
            <li>Leomad25 <span>( Main )</span></li>
        </ul>
    </section>
    <section class="subContent">
        <h2>{{strings.writers}}</h2>
        <ul>

        </ul>
    </section>
    <section class="subContent">
        <h2>{{strings.illustrators}}</h2>
        <ul>

        </ul>
    </section>
    <section class="subContent">
        <h2>{{strings.translators}}</h2>
        <ul>

        </ul>
    </section>
</section>