<article id="presentation" style="z-index: 0;">
    <!-- Background video -->
    <video  autoplay loop muted id="background-video" poster="{{strings.link.presentation.image}}">
        <source src="{{strings.link.presentation.video}}">
    </video>
    <!-- Background video -->
    <section class="content">
        <h1>{{strings.legionLatinoamericana}}</h1>
        <h2>{{strings.arma3Comunity}}</h2>
    </section>
    <img src="/image/logo.png">
</article>
<article id="aboutUs">
    <table>
        <tr class="table-title"><td>
            <h1 id="aboutUsTitle">{{strings.aboutUs.aboutUs}}</h1>
        </td></tr>
        <tr class="table-content"><td>
            <section class="content" id="aboutUsContent">
                <section class="subContent">
                    <section class="texts">
                        <img src="/image/logo.png">
                        <p>{{strings.aboutUs.paragraph1}}</p>
                        <p>{{strings.aboutUs.paragraph2}}</p>
                    </section>
                </section>
            </section>
        </td></tr>
        <tr class="table-btn"><td>
            <button onclick="window.location.href = '/roster'">{{strings.aboutUs.roster}}</button>
        </td></tr>
    </table>
</article>
<article id="schedule">
    <table>
        <tr class="table-title"><td>
            <h1 id="scheduleTitle">{{strings.schedule.schedule}}</h1>
        </td></tr>
        <tr class="table-content"><td>
            <section class="content" id="scheduleContent">
                <section class="subContent">
                    <section class="tables">
                        <br>
                        <table class="general" id="scheduleGeneral">
                            <tr>
                                <td class="td-title">
                                    <video autoplay loop muted id="background-video" poster="{{strings.link.schedule.general.missions.image}}">
                                        <source src="{{strings.link.schedule.general.missions.video}}">
                                    </video>
                                    <h2>{{strings.schedule.general.missions.title}}</h2>
                                </td>
                                <td>
                                    <section class="texts">
                                        <h3>{{strings.schedule.general.missions.date}}</h3>
                                        <p>{{strings.schedule.general.missions.description}}</p>
                                    </section>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-title">
                                    <video  autoplay loop muted id="background-video" poster="{{strings.link.schedule.general.training.image}}">
                                        <source src="{{strings.link.schedule.general.training.video}}">
                                    </video>
                                    <h2>{{strings.schedule.general.training.title}}</h2>
                                </td>
                                <td>
                                    <section class="texts">
                                        <h3>{{strings.schedule.general.training.date}}</h3>
                                        <p>{{strings.schedule.general.training.description}}</p>
                                    </section>
                                </td>
                            </tr>
                        </table>
                        <table class="squads">
                            <tr>
                                <td class="td-title">
                                    <img src="{{strings.link.schedule.squads.alpha}}">
                                    <h2>{{strings.schedule.squads.alpha.title}}</h2>
                                </td>
                                <td>
                                    <section class="texts">
                                        <h3>{{strings.schedule.squads.alpha.date}}</h3>
                                        <p>{{strings.schedule.squads.alpha.description}}</p>
                                    </section>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-title">
                                    <img src="{{strings.link.schedule.squads.bravo}}">
                                    <h2>{{strings.schedule.squads.bravo.title}}</h2>
                                </td>
                                <td>
                                    <section class="texts">
                                        <h3>{{strings.schedule.squads.bravo.date}}</h3>
                                        <p>{{strings.schedule.squads.bravo.description}}</p>
                                    </section>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-title">
                                    <img src="{{strings.link.schedule.squads.charlie}}">
                                    <h2>{{strings.schedule.squads.charlie.title}}</h2>
                                </td>
                                <td>
                                    <section class="texts">
                                        <h3>{{strings.schedule.squads.charlie.date}}</h3>
                                        <p>{{strings.schedule.squads.charlie.description}}</p>
                                    </section>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-title">
                                    <img src="{{strings.link.schedule.squads.foxtrot}}">
                                    <h2>{{strings.schedule.squads.foxtrot.title}}</h2>
                                </td>
                                <td>
                                    <section class="texts">
                                        <h3>{{strings.schedule.squads.foxtrot.date}}</h3>
                                        <p>{{strings.schedule.squads.foxtrot.description}}</p>
                                    </section>
                                </td>
                            </tr>
                        </table>
                        <br>
                    </section>
                </section>
            </section>
        </td></tr>
        <tr class="table-btn"><td>
            <button onclick="window.location.href = '/news'">{{strings.schedule.news}}</button>
        </td></tr>
    </table>
</article>
<article id="socialNetworks">
    <table>
        <tr class="table-title"><td>
            <h1 id="socialNetworksTitle">{{strings.socialNetworks.socialNetworks}}</h1>
        </td></tr>
        <tr class="table-content"><td>
            <section class="content" id="socialNetworksContent">
                <section class="subContent">
                </section>
            </section>
        </td></tr>
    </table>
</article>