<section class="card">
    <h1>{{strings.legionLatinoamericana}}</h1>
    <img src="/image/logo.png">
    <form action="/auth/activation" method="post">
        <h2>{{strings.changeEmail}}</h2>
        <input type="text" name="" placeholder="{{strings.email}}">
        <br>
        <button type="submit">{{strings.update}}</button>
    </form>
    <br>
    <a href="/">{{strings.backToHome}}</a>
</section>