<section class="card">
    <h1>{{strings.legionLatinoamericana}}</h1>
    <img src="/image/logo.png">
    <form action="/auth/recover" class="recover">
        <h2>{{strings.recover}}</h2>
        <input type="email" name="email" placeholder="{{strings.email}}" required>
        <br>
        <button type="submit">{{strings.btn}}</button>
    </form>
    <br>
    <a href="/auth/login">{{strings.login}}</a>
    <br>
    <a href="/auth/register">{{strings.register}}</a>
</section>