<section class="card">
    <section class="title">
        <img src="/image/logo.png">
        <h1>{{strings.title}}</h1>
        <img src="/image/logo.png">
    </section>
    <section class="rule">
        <h2>{{strings.basicRequirements.title}}</h2>
        <ul>
            <li>{{strings.basicRequirements.rule1}}</li>
            <li>{{strings.basicRequirements.rule2}}</li>
            <li>{{strings.basicRequirements.rule3}}</li>
        </ul>
    </section>
    <section class="rule">
        <h2>{{strings.generalBehavior.title}}</h2>
        <ul>
            <li>{{strings.generalBehavior.rule1}}</li>
            <li>{{strings.generalBehavior.rule2}}</li>
            <li>{{strings.generalBehavior.rule3}}</li>
            <li>{{strings.generalBehavior.rule4}}</li>
            <li>{{strings.generalBehavior.rule5}}</li>
        </ul>
    </section>
    <section class="rule">
        <h2>{{strings.behaviorOnTheServer.title}}</h2>
        <ul>
            <li>{{strings.behaviorOnTheServer.rule1}}</li>
            <li>{{strings.behaviorOnTheServer.rule2}}</li>
            <li>{{strings.behaviorOnTheServer.rule3}}</li>
            <li>{{strings.behaviorOnTheServer.rule4}}</li>
            <li>{{strings.behaviorOnTheServer.rule5}}</li>
            <li>{{strings.behaviorOnTheServer.rule6}}</li>
            <li>{{strings.behaviorOnTheServer.rule7}}</li>
            <li>{{strings.behaviorOnTheServer.rule8}}</li>
            <li>{{strings.behaviorOnTheServer.rule9}}</li>
            <li>{{strings.behaviorOnTheServer.rule10}}</li>
        </ul>
    </section>
    <h3>{{strings.participationIsObligatory}}</h3>
</section>
<section class="card">
    <form action="/auth/rules" method="post">
        <p>{{strings.accept}}</p>
        <button type="submit">{{strings.button}}</button>
    </form>
</section>