{{>panel/top}}
{{>panel/articleAside}}
<article class="content" id="content">
    <section class="inside">
        <section class="navBar">
            <p onclick="window.location.href = '/panel'">{{strings.administration.navBar.panel}}</p>
            <span>/</span>
            <p onclick="window.location.href = '/panel/courses/administration'">{{strings.administration.navBar.administration}}</p>
        </section>
        {{>panel/panelMessage}}
        <section class="body">
            <h2>{{strings.administration.administration}}</h2>
            <section class="requestList">
                <h3>{{strings.administration.requestList.courseRequests}}</h3>
                <section class="filter">
                    <h4>{{strings.administration.requestList.filter}}</h4>
                    <section class="content">
                        <section class="inputs">
                            <section class="role-name-filter">
                                <input type="text" id="roleNameFilter" oninput="updateFilterRole()" placeholder="{{strings.administration.requestList.filterByRoleName}}">
                            </section>
                            <section class="user-name-filter">
                                <input type="text" id="userNameFilter" oninput="updateFilterUser()" placeholder="{{strings.administration.requestList.filterByUsername}}">
                            </section>
                        </section>
                        <section class="order" id="filter-order">
                            <section class="filterOrderSelected">
                                <section class="itemSelected" onclick="deployOrderMenu()">
                                    <p>{{strings.administration.requestList.orderBy}}</p>
                                </section>
                            </section>
                            <section class="filterOrderMenu close">
                                <ul>
                                    <li><b>{{strings.administration.requestList.generalList}}</b></li>
                                    <li id="filterOrderMenu-0" onclick="orderRequestTables(0, 'filterOrderMenu-0')"><p>{{strings.administration.requestList.id}}</p></li>
                                    <li id="filterOrderMenu-1" onclick="orderRequestTables(0, 'filterOrderMenu-1')"><p>{{strings.administration.requestList.name}}</p></li>
                                    <li id="filterOrderMenu-2" onclick="orderRequestTables(0, 'filterOrderMenu-2')"><p>{{strings.administration.requestList.requests}}</p></li>
                                    <li><b>{{strings.administration.requestList.specificList}}</b></li>
                                    <li id="filterOrderMenu-3" onclick="orderRequestTables(1, 'filterOrderMenu-3')"><p>{{strings.administration.requestList.user}}</p></li>
                                    <li id="filterOrderMenu-4" onclick="orderRequestTables(1, 'filterOrderMenu-4')"><p>{{strings.administration.requestList.roleTag}}</p></li>
                                    <li id="filterOrderMenu-5" onclick="orderRequestTables(1, 'filterOrderMenu-5')"><p>{{strings.administration.requestList.date}}</p></li>
                                </ul>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="general" id="requestList-general">
                    <h4>{{strings.administration.requestList.generalList}}  <img src="/image/icons/gold/loop2.png" onclick="showInfoRequestTables(0)"></h4>
                    <section class="table close">
                        <table>
                            <thead>
                                <tr>
                                    <th>{{strings.administration.requestList.id}}</th>
                                    <th class="name">{{strings.administration.requestList.name}}</th>
                                    <th>{{strings.administration.requestList.requests}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each pageConf.requestCourse.general}}
                                <tr onclick="setDataSpecificTable('{{name}}')">
                                    <td>{{idrole}}</td>
                                    <td class="name">{{name}}</td>
                                    <td>{{count}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                    <button onclick="openGeneralTable()">
                        <p>{{strings.administration.requestList.deployTable}}</p>
                        <p class="close">{{strings.administration.requestList.hideTable}}</p>
                    </button>
                </section>
                <section class="specific" id="requestList-specific">
                    <h4>{{strings.administration.requestList.specificList}} <img src="/image/icons/gold/loop2.png" onclick="showInfoRequestTables(1)"></h4>
                    <section class="table close">
                        <table>
                            <thead>
                                <tr>
                                    <th>{{strings.administration.requestList.user}}</th>
                                    <th>{{strings.administration.requestList.roleTag}}</th>
                                    <th>{{strings.administration.requestList.date}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each pageConf.requestCourse.specific}}
                                <tr>
                                    <td>{{user}}</td>
                                    <td class="middle">{{role}}</td>
                                    <td>{{date}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </section>
                    <button onclick="openSpecificTable()">
                        <p>{{strings.administration.requestList.deployTable}}</p>
                        <p class="close">{{strings.administration.requestList.hideTable}}</p>
                    </button>
                </section>
            </section>
            <section class="forms">
                <h2>{{strings.administration.fomrs.forms}}</h2>
                <section class="selectRole" id="forms-selectRole">
                    <section class="space-1" onclick="openFormRoleSelector()">
                        <p class="label-1">{{strings.administration.fomrs.roleSelector}}</p>
                        <p class="label-2">{{strings.administration.fomrs.roleNotSelect}}</p>
                    </section>
                    <section class="space-2 close">
                        {{#if pageConf.forms}}
                        <ul>
                            {{#each pageConf.forms}}
                            <li onclick="formRoleSelected({{id}})">
                                <span class="id" style="display: none;">{{id}}</span>
                                <span class="name">{{name}}</span>
                            </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <p>{{strings.administration.fomrs.youHaveNoRolesToSelect}}</p>
                        {{/if}}
                    </section>
                </section>
                <section class="panels" id="forms-panels" style="display: none;">
                    <section class="enableRequest" id="forms-enableRequest">
                        <h3 onclick="openFormsMenu(0)">{{strings.administration.fomrs.roleRequest.allowRoleRequest}}</h3>
                        <form action="/panel/courses/administration/roleRequest" class="close">
                            <input type="text" name="roleSelector" class="input-roleSelector" style="display: none;">
                            <section class="status">
                                <p>{{strings.administration.fomrs.roleRequest.status}}</p>
                                <span class="opt active" style="display: block">
                                    <b>{{strings.administration.fomrs.roleRequest.actived}}</b>
                                    <b style="display: none;">{{strings.administration.fomrs.roleRequest.disabled}}</b>
                                </span>
                                <input type="text" name="status" class="input-status" style="display: none;">
                            </section>
                            <section class="adminLock">
                                <p>{{strings.administration.fomrs.roleRequest.adminLock}}</p>
                                <span class="opt active" style="display: block">
                                    <b>{{strings.administration.fomrs.roleRequest.actived}}</b>
                                    <b style="display: none;">{{strings.administration.fomrs.roleRequest.disabled}}</b>
                                </span>
                                <input type="text" name="adminLock" class="input-adminLock" style="display: none;">
                            </section>
                            <button type="submit">{{strings.administration.fomrs.roleRequest.update}}</button>
                        </form>
                    </section>
                    <section class="prerequisite" id="forms-prerequisites">
                        <h3 onclick="openFormsMenu(1)">{{strings.administration.fomrs.prerequisite.prerequisite}}</h3>
                        <form action="/panel/courses/administration/prerequisite" class="close">

                            <button type="submit">{{strings.administration.fomrs.roleRequest.update}}</button>
                        </form>
                    </section>
                    <section class="openCurse" id="form-openCurse">
                        <h3 onclick="openFormsMenu(2)">{{strings.administration.fomrs.openCourse.openCourses}}</h3>
                        <form action="/panel/courses/administration/openCourse" class="close">

                            <button type="submit">{{strings.administration.fomrs.roleRequest.update}}</button>
                        </form>
                    </section>
                </section>
            </section>
        </section>
</article>