<h1>{{strings.legionLatinoamericana}}</h1>
{{#if pageConf.cbiDone}}
<section class="anAdministratorWasAlert">
    <p>{{strings.anAdministratorWasAlert}}</p>
    <p>{{strings.stayAlertInYourEmail}}</p>
</section>
{{/if}}
<section class="instructions">
    <h2>{{strings.cbiInstructions}}</h2>
    <section class="helpUs">
        <p>{{strings.helpUs}}</p>
    </section>
    <section class="steps">
        <h3>{{strings.steps.step1.title}}</h3>
        <p>{{strings.steps.step1.inst1}} <a href="https://store.steampowered.com/app/107410/Arma_3/" target="_blank">{{strings.steps.step1.inst2}}</a></p>
        <img src="/image/pages/panel/cbi/readyToPlay.png">
    </section>
    <section class="steps">
        <h3>{{strings.steps.step2.title}}</h3>
        <p>{{strings.steps.step2.inst1}} <a href="https://discord.com/invite/gkfbjxrbJx" target="_blank">{{strings.steps.step2.inst2}}</a></p>
        <img src="/image/pages/panel/cbi/joinToDiscord.png">
    </section>
    <section class="steps">
        <h3>{{strings.steps.step3.title}}</h3>
        <p>{{strings.steps.step3.inst1}}</p>
        <p style="color: gold"><b><i>{{strings.steps.step3.inst2}}</i></b></p>
        <p><span style="color: gold">> </span>{{strings.steps.step3.inst3}}</p>
        <img class="imgNotWidth" src="/image/pages/panel/cbi/channelLobby.png">
        <p><span style="color: gold">> </span>{{strings.steps.step3.inst4}}</p>
        <section class="imgsGrup">
            <img class="imgNotWidth" src="/image/pages/panel/cbi/userVega.png">
            <img class="imgNotWidth" src="/image/pages/panel/cbi/userAri.png">
        </section>
    </section>
    <section class="steps">
        <h3>{{strings.steps.step4.title}}</h3>
        <p>{{strings.steps.step4.inst1}}</p>
        <img src="/image/pages/panel/cbi/serverMods.png">
        <p>{{strings.steps.step4.inst2}}</p>
        <img src="/image/pages/panel/cbi/dowloadModsList.png">
        <p>{{strings.steps.step4.inst3}}</p>
        <img src="/image/pages/panel/cbi/launcherMods.png">
        <p>{{strings.steps.step4.inst4}}</p>
        <img src="/image/pages/panel/cbi/import.png">
        <p>{{strings.steps.step4.inst5}}</p>
        <img src="/image/pages/panel/cbi/htmlFile.png">
    </section>
    <h2>{{strings.thanksForYourAttention}}</h2>
</section>